@import "../../../sass/variables";
@import "../../../sass/mixins";


.skillsItem {
  @include flex(row, space-between, center, wrap);
  position: relative;
  width: 300px;
  height: 80px;
  background-color: $grayDarkOpacity;
  border-bottom: 1px solid #313131;
  border-left: 2px solid transparent;
  border-left-color: #009e66;


  &:last-child {
    border-bottom: none;
  }

  .itemArrow {
    position: absolute;
    top: 38%;
    left: 0;

    &:before {
      content: "";
      display: block;
      position: absolute;
      height: 16px;
      left: 0;
      width: 16px;
      background-color: $accentColor;
    }

    &:after {
      content: "";
      display: block;
      position: absolute;
      border: 8px solid transparent;
      left: 16px;
      border-left-color: $accentColor;
    }
  }

  .skillName {
    font-size: 18px;
    padding-left: 35px;
  }

  .skillIcon {
    @include flex(row, center, center, nowrap);
    margin-right: 20px;
    background-color: #343a40;
    width: 45px;
    height: 45px;
    transform: rotate(-45deg);


    .iconRotate {
      display: block;
      width: 30px;
      height: 30px;

      transform: rotate(45deg);
      background-size: cover;
    }

  }
}