$breakpointLG: 992px;
$breakpointMD: 768px;
$breakpointSM: 576px;
$breakpointXL: 1200px;
$dark: #111;
$grayDark: #343a40;
$grayDarkOpacity: rgba(52, 58, 64, 0.4);
$gray: #323237;
$lightGray: #adadaf;
$slate: #ccd6f6;
$color: #f3f3f3;
$secondaryColor: #9f9f9f;
$accentColor: #009e66;