@import "../../../sass/variables";
@import "../../../sass/mixins";

.socialContainer {
  width: 40px;
  position: fixed;
  bottom: 0;
  left: 20px;
  right: auto;
  color: $slate;
  @media screen and (max-width: $breakpointSM) {
    bottom: 0;
    left: 230px;
  }

  &::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0 auto;
    background-color: $slate;

    @media screen and (max-width: $breakpointSM) {
      position: absolute;
      right: 120px;
      top: 30px;
      width: 80px;
      height: 1px;
      display: inline-block;
    }
  }

    .social {
      @include flex(column, center, center, nowrap);
      list-style: none;

      @media screen and (max-width: $breakpointSM) {
        @include flex(row, center, center, nowrap);
      }

      li a {
        padding: 10px;
      }

      a {
        display: inline-block;
        text-decoration: none;
        text-decoration-skip-ink: auto;
        color: $slate;
        position: relative;
        transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);

        &:hover, &:focus {
          transform: translateY(-4px);
          color: $accentColor;
          fill: $accentColor;
        }
      }

      li a svg {
        width: 25px;
        height: 25px;
      }

      svg.feather {
        fill: none;
      }
        svg[class~="telegram"] path:hover {
          fill: $accentColor;

      }

    }

  }