body {
  font-family: 'Poppins', sans-serif;
}

*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.active {
    color: #009e66 !important;
    border-top: 2px solid #009e66;
}
